body{

    background-image:url('routerhatter.png');

    

}

h1{

    color:#E0FFFF;
    text-align:center;
    font-size:40px;
    text-decoration:underline;
    font-family:monospace;
}
p{
    color:#00FFFF;
    font-size:20px;


font-family:monospace;
}

.regikep{

    width:300px;
    
}
h2{
    color:#E0FFFF;
    font-size:40px;
    text-decoration:underline;
    font-family:monospace;


}

li{
    color:#00FFFF;
    font-size:20px;
    text-decoration:underline;



}
h3{
    color:#E0FFFF;
    font-size:20px;
    text-decoration:underline;



}
#kep p{
    color:#E0FFFF;
    font-size:20px;
    text-decoration:underline;


}



