body{

    background-image:url('routerhatter.png');

    

}

h1{

    color:#00FFFF;
    text-align:center;
    font-size:40px;
    text-decoration:underline;
    font-family:monospace;
}
p{
    color:#00FFFF;
    font-size:20px;


font-family:monospace;
}

.regikep{

    width:300px;
    float:left;
}
h2{
    color:#00FFFF;
    font-size:40px;
    text-decoration:underline;
    font-family:monospace;


}

