body{

    background-image:url('routerhatter.png');

    

}

h1{

    color:#87ceeb;
    text-align:center;
    font-size:40px;
    text-decoration:underline;
    font-family:monospace;
}
p{
    color:#87ceeb;
    font-size:20px;


font-family:monospace;
}
