body{
    background-image: url('hatter.png');
   
    
}

.sw{
    width: 700px;
    border-radius: 200px;
    box-shadow: 10px 10px 10px rgb(38, 134, 199) ;


}


.swap img:last-child{display:none}
.swap:hover img:first-child{
    display:none;
    box-shadow: 10px 10px 10px rgb(230, 191, 19) ;
                                    
}
.swap:hover img:last-child{
    box-shadow: 10px 10px 10px rgb(230, 191, 19) ;
    display:inline-block}



.swap2 img:last-child{display:none}
.swap2:hover img:first-child{
    display:none;
     box-shadow: 10px 10px 10px rgb(19, 198, 230) ;
}

.swap2:hover img:last-child{
box-shadow: 10px 10px 10px rgb(19, 181, 230) ;
display:inline-block}
    
#ro{
    border-radius: 200px;
    position: absolute;
    right: 100px;
    box-shadow: 10px 10px 10px rgb(78, 77, 77) ;
}
.row{

    margin: 110px;
    
}

#ro:hover{
    box-shadow: 10px 10px 10px rgb(19, 181, 230) ;
}

h1{
    text-align: center;
    font-family: Monospace;
    font-weight: bold;
    color:rgb(17, 197, 173);
    
}

h2{
    position: absolute;
    left: 410px;
    top: 110px;
    color:rgb(17, 197, 173);
    font-weight: bold;
    background-color:rgb(27, 66, 78);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#masik{
    position: absolute;
    left: 1310px;
    color:rgb(17, 197, 173);
    background-color:rgb(27, 66, 78);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#cimhatter{
    background-color: rgb(27, 66, 78);
    width: 500px;
    margin:auto;
    border-radius: 20px;


}

#masik:hover{
    background-color: grey;
    border-radius: 20px;
}

h1,h2:hover{
    background-color: grey;
    border-radius: 20px;
}