body{
    background-image: url('hatter.png');
   
    
}

#sw{
    width: 700px;
    border-radius: 200px;
    box-shadow: 10px 10px 10px rgb(38, 134, 199) ;


}




#ro{
    border-radius: 200px;
    position: absolute;
    right: 100px;
    box-shadow: 10px 10px 10px rgb(78, 77, 77) ;
}
.row{

    margin: 110px;
    
}

h1{
    text-align: center;
    font-family: Monospace;
    font-weight: bold;
    color:rgb(17, 197, 173);
    
}

h2{
    position: absolute;
    left: 410px;
    top: 110px;
    color:rgb(17, 197, 173);
    font-weight: bold;
    background-color:rgb(27, 66, 78);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#masik{
    position: absolute;
    left: 1310px;
    color:rgb(17, 197, 173);
    background-color:rgb(27, 66, 78);
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#cimhatter{
    background-color: rgb(27, 66, 78);
    width: 500px;
    margin:auto;
    border-radius: 20px;


}

#masik:hover{
    background-color: grey;
    border-radius: 20px;
}

h1,h2:hover{
    background-color: grey;
    border-radius: 20px;
}